* {
    user-select: none;
}

html::-webkit-scrollbar{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d0312d;
    background-image: url(bg1.JPG);
    background-position: calc(50% - 0px) calc(22% - 0px);
    background-repeat: no-repeat;
    width: 90%;
    height: 100%;
    display: flex;
    background-size: cover;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: #d0302db9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
    opacity: 100%;
    color: #FFFFFF;
}

.stud-btn {
    position: absolute;
    width: 596px;
    height: 98px;
    left: 427px;
    top: 424px;
    background: #FFFFFF;
    border-radius: 50px;
}

.admin-btn {
    position: absolute;
    width: 596px;
    height: 98px;
    left: 427px;
    top: 610px;
    background: #FFFFFF;
    border-radius: 50px;
}